body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 80px;
    font-size: 80px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message,
#message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

/* original media query */
/* @media (max-width: 600px) {

    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
} */

body {
    margin: 1em 1em;
}

#loginDiv {
    width: 20em;
    display: flex;
    align-items: center;
    margin: 10px;
}

#loginDiv>input[type=text] {
    flex-grow: 1;
    margin: 0 5px;
    padding: 5px 5px;
}

#loginDiv>input[type=button] {
    padding: 5px 5px;
}

#showUserName {
    padding-right: 20px;
}

#mainButtons {
    margin-bottom: 0.5em;
}

#mainButtons>button {
    margin: 0.2em 0.1em;
    font-size: 1rem;
    border: none;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #007FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    color: white
}

#mainButtons>button:disabled {
    background-color: lightgrey;
    color: gray;
}

#mainButtons>button:active {
    transform: scale(0.98);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}

div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#videos>video {
    display: flex;
    margin: 0.5em;
}

#localVideo {
    width: 25%;
    background: #ECEFF1;
}

#remoteVideo {
    max-width: initial;
    height: 70%;
    width: 70%;
    background: lightgrey;
}

#currentRoom {
    margin-bottom: 0.30em;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1px;
    margin: 10px 0;
}

.textChat {
    width: 70%;
    border: 1px solid #000000;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    position: relative;
}

/* select media devices section */
section {
    width: 70%;
}

/* select media devices menus */
select {
    width: 50%;
    height: 30px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 2px;
}

/* select media devices label */
.device-label {
    width: 12em;
    display: inline-block;
}

#confirmJoinBtn {
    margin: 0.2em 0.2em;
    font-size: 1rem;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007FFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    color: white
}

#cancelJoinBtn,
#disconnectOkBtn {
    margin: 0.2em 0.2em;
    font-size: 1rem;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}

#modalButtons>button:active {
    transform: scale(0.98);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}

#roomForm {
    padding: 0px;
}

#roomForm>input[type=text] {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#modalButtons {
    float: right;
}

#textChat>div {
    display: flex;
    align-items: center;
}

#textMessages {
    width: 100%;
}

#textMessages>div {
    width: auto;
}

.textChatImage {
    width: 100%;
}

#textMsg {
    flex-grow: 1;
    padding: 5px 5px;
    margin: 0px 5px;
}

#sendText {
    padding: 5px 5px;
}

#imageSelectDiv {
    display: flex;
    margin: 0.25em 0;
}

#imageText {
    flex-grow: 1;
}

@media (max-width: 680px) {
    body {
        margin: 0.5em 0.5em;
    }

    div#videos>video {
        flex-direction: column;
    }

    #localVideo {
        width: 50%;
    }

    #remoteVideo {
        width: 100%;
    }

    section {
        width: auto;
    }

    select {
        width: 100%;
    }

    .textChat {
        width: auto;
    }

    #loginDiv {
        width: 75%;
    }

    #mainButtons>button {
        width: 100%;
    }
}